@using FishForoshi.Entities;
@model Food
@{
    ViewData["Title"] = "اضافه کردن غذا";
    Layout = null;
}

<div class="col-md-12">
    <form asp-action="Create" asp-controller="Food" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" required type="text" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="control-label"></label>
            <input asp-for="Price" required type="number" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FoodType" class="control-label"></label>
            <select asp-for="FoodType" required class="form-control">
                <option value="1">سرباز</option>
                <option value="2">کارکنان</option>
            </select>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MealType" class="control-label"></label>
            <select asp-for="MealType" required class="form-control">
                <option value="1">صبحانه</option>
                <option value="2">ناهار سازمانی</option>
                <option value="3">ناهار اول کادر</option>
                <option value="4">ناهار دوم کادر</option>
                <option value="5">میان وعده</option>
                <option value="6">شام</option>
            </select>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block">افزودن</button>
        </div>
    </form>
</div>
