@using FishForoshi.Entities;
@using FishForoshi.Web.Tools;
@model CustomerTurn
@{
    ViewData["Title"] = "اضافه کردن نوبت";
    Layout = null;
}

<div class="col-md-12">
    <form asp-action="Create" asp-controller="CustomerTurn" method="post">

        <div class="form-group">
            <label class="control-label">اصلاح کننده</label>
            <select asp-for="BarberStaffId" asp-items="ViewBag.Barbers" required class="form-control"></select>
        </div>
        <div class="form-group">
            <label asp-for="CustomerName" class="control-label"></label>
            <input asp-for="CustomerName" required type="text" class="form-control" />
        </div>
        <p style="width:fit-content">
            <label class="control-label"> ساعت</label>
            <input asp-for="CustomerQueueTime" type="text" class="form-control">
        </p>
        <div class="form-group">
            <button class="btn btn-primary btn-block">افزودن</button>
        </div>
    </form>
</div>